
/*
Colors 
United Nations Blue #5995ED
French Baby Blue #7EACF1
Ruby #DB2763 
Black Coffee #2F242C
Cool Grey #8C92AC
/*

/* Global resets:  Update the foundational and global aspects of the page.
-------------------------------------------------- */

html,body {
  margin: 0;
  padding: 0;
  font-family: "TeXGyreAdventorRegular", sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 1.5;
}
a {/* link formating*/
  font-family: "TeXGyreAdventorRegular", sans-serif;
  font-weight: 100;
  color:  #5995ED;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #5995ED;
  text-decoration: underline;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 { /*horizontal headings*/
  color:  #2F242C;
  font-weight:200;
}
hr { /*horizontal line*/
  margin-left: 5%;
  margin-right: 5%;
  border: 0;
  border-top: 1px solid;
  opacity: 0.5;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #352D39;
  padding-y: 0rem;

  height:  2.5rem;
  margin-top: 0px;
  margin-bottom: -70px; /* Negative margin to pull up carousel*/
  margin-left: 0rem;
  margin-right: 0rem;
}
.navbar-item { /* new class to customize links with the navbar*/
  padding-left: 0.5rem;
  padding-right: 0.5rem;	
  font-weight: 500;
  text-decoration: none;
  color: rgba(255,255,255,1.0);
}
.navbar-item:hover,
.navbar-item:focus {
  text-decoration: underline;
  color: rgba(255,255,255,1.0);
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel-caption{
	text-align: center;
	color: rgba(255,255,255,0.7);
  font-size:  20px;
}
.carousel-image{
	height:500px; 
	width:100%; 
	object-fit:cover;
	object-position: center;
}
.carousel .carousel-indicators button {
   width: 10px;
   height: 10px;
   border-radius: 100%;
 }

/* Image formatting
-------------------------------------------------- */

/* people's profile pictures */
.people {
  text-align: center;
  border-radius: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width:  80%;
  border: 0px solid #8C92AC;
  display: inline-block;
}
/* formatting plots, square, no outline */
.plot {
    text-decoration: none;
    border-bottom: none;
    position: relative;
    border-color : black;
    border: 0px solid black;
    display: inline-block;
    object-fit: contain;
 }
/* formatting pictures, rounded, black outline */
.picture {
	border-radius: 1em;
    text-decoration: none;
    border-bottom: none;
    position: relative;
    border-color : black;
    border: 1px solid black;
    display: inline-block;
    object-fit: cover;
 }

/* Icons
-------------------------------------------------- */
.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
	text-align: center;
}
.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}
.icon > .label {
	display: none;
}
.icon.style2:before {
	border-radius: 50%;
  border: 1px solid #7EACF1;
	display: inline-block;
	height: 3em;
	line-height: 3em;
	width: 3em;
	color : #7EACF1;
}
a.icon.style2:before {
	-moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}
a.icon.style2:hover:before {
  background-color:  #C8DCF9;
	color: #5995ED;
}

/* Formatting text content
-------------------------------------------------- */

/* Basic content */
.content {
  background-color: rgb(255,255,255);
  padding-top: 1rem;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 1rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  width:  100%;
}

/* Posts within content */
.post {
  background-color: rgb(255,255,255);
  margin-top: 1em;
  margin-bottom: 0em;
}
/* Title formating */
.post-title,
.post-title a {
  color: #2F242C; 
  font-family: "TeXGyreAdventorRegular", sans-serif;
  font-weight: 300;
}
.post-title {
  margin-top: 0;
}
/* Meta data line below post title */
.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #757575;
}
/* Publications within posts or content */
.post-publications {
  font-size: 15px;
}
.post-publications p {
  margin-bottom: 0.5rem;
}



